.task {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    transition: all 0.5s;

    .buttons{
        margin: 0;
        padding: 0;
    }
    
    .buttons button {
        margin-right: 5px;
        font-size: 18px;
        cursor: pointer;
    }

    &--true .task-data {
        text-decoration: line-through;
    }

    &--dark {
        background: black;
        color: white;

        &:hover {
            background: #c00;
        }
    }

    &--normal {
        background-color: #63cdda;
        color: black;

        &:hover {
            background: #ccc;
        }
    }
}

